**/*.svg
package.json
**/package.json
package-lock.json
**/package-lock.json
/dist
**/dist
.DS_Store
.eslintignore
*.png
*.toml
.editorconfig
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
*.md
