.ones-header {
  position: relative;
  padding: 0 15px !important;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;

  .header-system {
    float: left;
    margin-right: 30px;

    .system-logo {
      width: 24px;
      margin-right: 10px;
      vertical-align: -6px;
    }

    .system-name {
      font-weight: bold;
      font-size: 15px;
    }
  }

  .ant-menu-horizontal {
    line-height: 63px;
    border-bottom: none;
  }

  .ant-menu-item {
    padding: 0 40px;
  }

  .global-header-action {
    display: inline-block;
    height: 100%;
    padding: 0 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .quick-entry {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;

    &.ant-dropdown-open {
      transform: scale(1.1);
    }
  }
}
